@using System.Web.Mvc.Html
@using System.Web.Optimization
@{
    ViewBag.Title = "Quotes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    <div class="clearfix">
        <div class="wrapper">
            <div class="viewquote">
                @Html.Partial("~/Views/Quotes/ViewQuotes.cshtml")
            </div>
            <div class="addquote" id="AddQuote">
                <div style="top: 20px; position: relative">
                      @Html.Partial("~/Views/Quotes/AddQuote.cshtml")
                </div>
            </div>  
        </div>
    </div>
}