
<div class="centerbox">
    <div class="banner">
        <div style="height: 60px; width:320px;" id="dropdownloader" data-update="false">
            @*            <strong class="text" style="color: green;"> View Quote </strong>*@
            <strong class="text"> Select Project </strong>
            <select  id="projects">
                <option selected="selected">Select Project</option>
            </select>
        </div>           
    </div>
    <div class="container">
        <div id="contentofquote" class="contentofquote">
        
        </div>
   </div>
</div>